@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

button:hover {
  cursor: pointer;
}

p {
  color: #717171;
  font-size: 1.2rem;
}

a {
  cursor: pointer;
}

h1, h2, h3 {
  color: #4D4D4D;
  line-height: 6rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  line-height: 3rem;
}

h3 {
  font-size: 2.3rem;
  line-height: 2.5rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2.1rem;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
  h2 {
    font-size: 2.2rem;
    line-height: 3rem;
  }
  h3 {
    font-size: 1.9rem;
    line-height: 2rem;
  }
}
textarea:focus, input:focus {
  outline: none;
}

.submit-button {
  background: transparent;
  border: 0;
  color: white;
}

.greenText {
  color: green;
}

.whiteText {
  color: white;
}

.circle-social {
  height: 41px;
  width: 41px;
  background-color: #3B464C;
  border-radius: 50%;
  display: inline-block;
  color: white;
}
.circle-social svg {
  position: relative;
  left: 20%;
  top: 20%;
}

.inactive {
  opacity: 0.4;
}

.company-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.company-logo img {
  width: 50px;
  height: 30px;
  float: left;
}
.company-logo p {
  font-size: 2.1em;
  font-weight: bolder;
  margin: 0;
  color: #263238;
}

.mobile-nav-more {
  background-color: white;
  border-radius: 0 0 30px 0;
  border-right: 2px solid #F5F7FA;
  border-bottom: 2px solid #F5F7FA;
  padding: 5px;
  color: #263238;
  display: none;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 2vh 0;
  height: 50px;
  background-color: #F5F7FA;
}
.nav-container .company-logo {
  flex: 1;
  margin-left: 5vw;
}
.nav-container .company-logo p {
  margin-right: 25px;
}
.nav-container .nav-anchors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  height: inherit;
  gap: 20px;
}
.nav-container .nav-anchors a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 1.2rem;
}
.nav-container .nav-buttons {
  flex: 1;
  display: flex;
  height: inherit;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5vw;
  gap: 20px;
}
.nav-container .nav-buttons .login-button {
  background-color: #4CAF4F;
  color: white;
  border: 0;
  border-radius: 5px;
  height: 40px;
  width: 120px;
  font-size: 1.1rem;
}
.nav-container .nav-buttons .sign-up-button {
  background-color: transparent;
  color: #4CAF4F;
  border: 0;
  border-radius: 5px;
  height: 40px;
  width: 120px;
  font-size: 1.1rem;
}

@media only screen and (max-width: 1300px) {
  .mobile-nav-more {
    display: block;
    position: fixed;
    z-index: 100;
    background-color: white;
  }
  .nav-container {
    height: 100vh;
    width: 400px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 25px;
    z-index: 99;
    background: white;
    animation: slideIn 0.5s ease-in;
    padding: 0;
    display: none;
    position: fixed;
  }
  .nav-container .company-logo {
    align-items: flex-end;
    padding-left: 20px;
    margin-top: 60px;
    flex: 0.25;
  }
  .nav-container .nav-anchors {
    padding-left: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    flex: 1;
  }
  .nav-container .nav-buttons {
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    flex: 1;
  }
  @keyframes slideIn {
    0% {
      transform: translate(-400px);
    }
  }
  @keyframes slideOut {
    100% {
      transform: translate(-400px);
    }
  }
}
.hero-container {
  display: grid;
  grid-template: 1fr 55px/1fr 1fr;
  background-color: #F5F7FA;
}
.hero-container .hero-content {
  padding: 20vh 0 0 10vw;
}
.hero-container .hero-content .register-button {
  background-color: #4CAF4F;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 15px 30px;
  margin-top: 25px;
}
.hero-container .hero-graphic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}
.hero-container .hero-circles {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 2/1/2/-1;
  gap: 10px;
}
.hero-container .hero-circles .circle-button {
  height: 15px;
  width: 15px;
  background-color: #4CAF4F;
  border-radius: 50%;
  display: inline-block;
}

@media only screen and (max-width: 1300px) {
  .hero-container {
    grid-template: 1fr auto 40px/1fr;
    gap: 0;
    padding-top: 50px;
  }
  .hero-container .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: auto;
  }
  .hero-container .hero-content h1 {
    text-align: center;
  }
  .hero-container .hero-content p {
    text-align: center;
  }
  .hero-container .hero-circles {
    grid-area: 3/1/3/1;
  }
}
@media only screen and (max-width: 840px) {
  .hero-container {
    grid-template: 1fr auto 40px/1fr;
    gap: 0;
  }
  .hero-container .hero-content {
    padding: 0;
    margin: 0 10px 0 10px;
  }
  .hero-container .hero-graphic img {
    width: 90%;
  }
}
.clients-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}
.clients-container .clients-brand-images {
  display: flex;
  margin-top: 50px;
  width: 100%;
  justify-content: space-evenly;
}
.clients-container p {
  text-align: center;
  margin-top: 20px;
}

@media only screen and (max-width: 840px) {
  .clients-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .clients-container .clients-brand-images {
    flex-wrap: wrap;
    gap: 25px;
  }
  .clients-container p {
    margin: 0 10px 0 10px;
  }
}
.community-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}
.community-container h2 {
  text-align: center;
}
.community-container p {
  text-align: center;
  margin-top: 20px;
}

.community-cards-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 50px;
  gap: 20px;
}

@media only screen and (max-width: 840px) {
  .community-container p {
    margin: 0 10px 0 10px;
  }
  .community-cards-group {
    flex-wrap: wrap;
  }
}
.community-card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px rgba(171, 190, 209, 0.3882352941);
  flex-direction: column;
  text-align: center;
  width: 320px;
  height: 340px;
  padding: 10px;
  border-radius: 10px;
}
.community-card img {
  display: flex;
  width: 80px;
  margin-bottom: 20px;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.info-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  gap: 50px;
}
.info-card .info-card-graphic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-card .info-card-graphic img {
  width: 100%;
}
.info-card .info-card-content {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.info-card .info-card-content p {
  padding-top: 20px;
}
.info-card .learn-more-button {
  background-color: #4CAF4F;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 15px 35px;
  margin-top: 25px;
}

.info-statistics {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F5F7FA;
  padding: 100px 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
}

.stats-grid {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  text-align: left;
  gap: 50px;
}
.stats-grid .statistic {
  display: flex;
  gap: 25px;
}
.stats-grid .statistic img {
  width: 50px;
  height: 50px;
}
.stats-grid .statistic-text p {
  margin-top: 5px;
}

@media only screen and (max-width: 840px) {
  .info-card {
    flex-direction: column-reverse;
    width: 100%;
    gap: 20px;
  }
  .info-card .info-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    height: auto;
    margin: 0 10px 0 10px;
    width: auto;
    text-align: center;
  }
  .info-statistics {
    text-align: center;
  }
  .info-statistics .info-statistics-text p {
    margin: 0 10px 0 10px;
  }
  .stats-grid {
    grid-template: repeat(4, 1fr)/1fr;
  }
}
.customer-comments-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F7FA;
  margin-top: 50px;
  gap: 70px;
  padding: 25px 0;
}
.customer-comments-container .customer-comments-graphic {
  align-items: flex-end;
}
.customer-comments-container .customer-comments-graphic img {
  width: 100%;
}
.customer-comments-container .customer-comments-content {
  flex: 0.6;
}
.customer-comments-container .customer-comments-content h4 {
  margin-top: 20px;
}
.customer-comments-container .customer-comments-content .less-important-text {
  color: #89939E;
  margin-top: 10px;
}
.customer-comments-container .customer-comments-content .customer-comments-logos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}

@media only screen and (max-width: 840px) {
  .customer-comments-container {
    flex-direction: column;
    gap: 15px;
  }
  .customer-comments-container .customer-comments-content .customer-comments-logos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .customer-comments-container p, .customer-comments-container h4 {
    margin: 0 10px 0 10px;
    text-align: center;
  }
}
.meet-customers-button {
  background-color: transparent;
  color: #4CAF4F;
  border: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bolder;
  padding: 10px;
  gap: 10px;
}

.posts-container {
  margin-top: 65px;
}
.posts-container .posts-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.posts-container .posts-container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: 50rem;
}
.posts-container .posts-container-text p {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
.post .post-graphic img {
  width: 100%;
}
.post .post-content {
  box-shadow: 0 0 8px rgba(171, 190, 209, 0.3882352941);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 19em;
  height: 140px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  z-index: 1;
  margin-top: -100px;
  position: static;
}
.post .post-content p {
  font-weight: bolder;
  height: 90px;
}

.readmore-button {
  background-color: transparent;
  color: #4CAF4F;
  border: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  gap: 10px;
  margin-top: 20px;
  width: 180px;
  font-size: 1.2em;
}

@media only screen and (max-width: 840px) {
  .posts-container .posts-container-text {
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .posts-container .posts-container-text {
    width: 100%;
  }
  .post .post-content {
    width: 80%;
  }
}
.demo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F7FA;
  flex-direction: column;
  padding: 25px 0;
  margin-top: 65px;
}
.demo-container p {
  color: #263238;
  font-size: 4em;
  font-weight: bolder;
  text-align: center;
}
.demo-container .demo-button {
  background-color: #4CAF4F;
  color: white;
  border: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 35px;
  margin-top: 20px;
}

@media only screen and (max-width: 840px) {
  .demo-container p {
    font-size: 3em;
  }
}
.footer-container {
  background-color: #263238;
  display: flex;
  gap: 50px;
  padding: 50px 0;
}
.footer-container .footer-company-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-left: 8vw;
}
.footer-container .footer-company-info .company-logo p {
  color: white;
}
.footer-container .footer-company-info .company-copyright {
  margin-top: 10px;
}
.footer-container .footer-company-info .company-copyright p {
  color: white;
}
.footer-container .footer-company-info .company-social {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.footer-container .footer-company-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-container .footer-company-links a {
  color: white;
}
.footer-container .footer-mail-form {
  margin-right: 8vw;
  flex: 1;
}
.footer-container .footer-mail-form h4 {
  margin-bottom: 10px;
}
.footer-container .footer-mail-form .mail-form-wrapper {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #3B464C;
  color: white;
  width: 230px;
}
.footer-container .footer-mail-form .mail-form-wrapper input[type=email] {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1em;
  width: 200px;
}
.footer-container .footer-mail-form .mail-form-wrapper .submit-button svg {
  position: absolute;
  margin: -15px 0 0 2px;
}

@media only screen and (max-width: 840px) {
  .footer-container {
    flex-direction: column-reverse;
  }
  .footer-container .footer-company-info, .footer-container .footer-company-links, .footer-container .footer-mail-form {
    margin: 0 10px 0 10px;
  }
}/*# sourceMappingURL=main.css.map */